// Color 

$mainColor:#0071f8;
$rgbaHeader:rgba(0,0,0,0.15);
$colorWhite:#fff;
$signColor:#ee626b;
$bannerColor:#7a7a7a;
$blueColor:#0071f8;
$blu2Color:#008af8;
$colorTrending:#eeeeee;
$spanColor:#7a7a7a;
$AllColor:#1e1e1e;
$mostPlayesColor:#f7f7f7;
$footerColor:#B6DDFE;
$EmColor:#c8c8c8;
$spanColor:#aaa;
$span2Color:#eee;
$navColor:#d7d7d7;
$borderColor:#e7e7e7;
$itemColor:#eeeeee;
